{
  "bracketSpacing": true,
  "singleQuote": true,
  "semi": false,
  "editorconfig": true,
  "tabWidth": 2,
  "svelteIndentScriptAndStyle": false,
  "trailingComma": "es5",
  "quoteProps": "as-needed",
  "printWidth": 100,
  "plugins": ["prettier-plugin-svelte"],
  "pluginSearchDirs": ["."],
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
